*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #b92b27;
}

h3 {
    color: purple;
}

#login {
    background-color: #b92b27;
    color: #fff;
    font-weight: 900;
    outline: none;
    border: 1px solid black;
    padding: 0.5rem, 1.5rem;
    border-radius: 0.2rem;
    
}